<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.madprojectuserinterface">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MADProjectUserInterface">
        <activity
            android:name=".DownloadsList"
            android:exported="false" />
        <activity
            android:name=".VedioList"
            android:exported="false" />
        <activity
            android:name=".VideoPlayer"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".QuestionLibrary"
            android:exported="false"
            tools:ignore="Instantiatable" />
        <activity
            android:name=".QuizActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".EBooks"
            android:exported="false" />
        <activity
            android:name=".BiologyPastPapers"
            android:exported="false" />
        <activity
            android:name=".PhysicsPastPapers"
            android:exported="false" />
        <activity
            android:name=".ComMathPastPapers"
            android:exported="false" />
        <activity
            android:name=".PastPapers"
            android:exported="false" />
        <activity
            android:name=".TestModule1"
            android:exported="true" />
        <activity
            android:name=".Module"
            android:exported="false" />
        <activity
            android:name=".InModule"
            android:exported="false" />
        <activity
            android:name=".FogrtPassword"
            android:exported="false" />
        <activity
            android:name=".Favourites"
            android:exported="false" />
        <activity
            android:name=".ChangePassword"
            android:exported="false" />
        <activity
            android:name=".student_payment_details"
            android:exported="false" />
        <activity
            android:name=".enter_transfer_detaill"
            android:exported="false" />
        <activity
            android:name=".EnterCardDetails"
            android:exported="false" />
        <activity
            android:name=".UserUpdate"
            android:exported="false" />
        <activity
            android:name=".UserProfile"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="false" />
        <activity
            android:name=".MainHome"
            android:exported="false" />
        <activity
            android:name=".SignUp"
            android:exported="false" />
        <activity
            android:name=".Login"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>